/********* WAVE CONTAINER CSS *********/

.bars-container {
  position: relative; /* Relative means relative to it's default location */
  transition: 0.3s;
  /*min-width: 300px; */
  min-height: 150px;
}
  
.bars-container:hover {
  filter:brightness(1.1);
  transition: 0.3s;
}

#greywaves {
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
}

#waveform {
  padding-top: 4px;
  padding-bottom: 4px;
  mask-image: linear-gradient(90deg, rgba(0,0,0,1) 51%, rgba(255,255,255,0) 51%);
  -webkit-mask-image: linear-gradient(90deg, rgba(0,0,0,1) 51%, rgba(255,255,255,0) 51%);
}

.overlay-img1 {
  position: absolute; /* absolute means position is relative to nearest parent element*/
  top: 0;
  left: 0;
  z-index: 1;
}

.overlay-img2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

/********* MISCELLANEOUS *********/

#playbtn {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  max-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  #playbtn {
    padding: 19px 32px;
  }
}

#playbtn:before,
#playbtn:after {
  border-radius: 80px;
}

#playbtn:before {
  background-color: rgba(249, 58, 19, .32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

#playbtn:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

#playbtn:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

#playbtn:active:not(:disabled) {
  color: #ccc;
}

#playbtn:active:not(:disabled):after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

#playbtn:disabled {
  cursor: default;
  opacity: .24;
}
